<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section" > Hi! I am Richard Chen! I am an athlete, an economist, a tech fan, an actor, a musician, and more importantly, your best friend! When you click in to this website, we are predestined friends. The three best keywords that can represent me are: Loving, Resilience, and Inspirational. It will be my pleasure to make friend with you, please contact me use means at the bottom of the page!!!</h2>
                <p class="text-faded"> </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
