<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">My personal introduction</h2>
                <hr class="light">
                <p class="text-faded">Hi!My name is Richard.I like studying economy and getting to know new technology. I love sports because I become sweaty and fit. I like tennis and basketball the most. Also, I am good at playing giutar, I start playing it since I found rock music is really fasinating. </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
